#body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

#header {
    height: 72px;
    background-color: #989CB9;
    width: 100%;
    top: 0;
    left: 0;
}
#headerLogo img{
    width: 260px;
}
div.row, div.col {
    margin: 0;
    padding: 0;
}
.row .sidebar {
    height: 100vh;
    width: 0;
    background-color: #EEF0F0;
    transition: all 0.2s ease;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}
.sidebar.active {
    width: 400px;
}
#headerLogo #btn {
    position: absolute;
    color: #fff;
    left: 280px;
    top: 6px;
    font-size: 40px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

#level {
    width: 50px;
}
#levelImg {
    width: 100px;
}
#room {
    width: 125px;
}
#event {
    height: 70px;
    text-align: center;
    line-height: 70px;
    width: auto;
    background-color: white;
}
img#3D {
    width: 100px;
    height: 100px;
    float: right;
}
