<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8" />
         <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "boxicons/css/boxicons.css" %}" rel="stylesheet" type="text/css" />
        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid" id="body">
            <div class="row">
                <div class="col">
                    <header id="header">
                        <div id="headerLogo">
                            <a href="http://127.0.0.1:8000">
                                <img src="{% static "img/PULogo.png" %}" alt="Logo" />
                            </a>
                            <i class="bx bx-menu" id="btn"></i>

                        </div>
                    </header>
                </div>
            </div>
            <div class="row">
                <aside class="sidebar active">
                    <ul class="nav_list">
                        <li>
                            <a href="http://127.0.0.1:8000/situation/">
                                <span class="links_name">戰情室</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav_list">
                        <li>
                            <a href="http://127.0.0.1:8000/pendingevent/">
                                <span class="links_name">待填寫事件</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav_list">
                        <li>
                            <a href="http://127.0.0.1:8000/eventanalysis/">
                                <span class="links_name">事件分析</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav_list">
                        <li>
                            <a href="http://127.0.0.1:8000/historicalevent/">
                                <span class="links_name">歷史事件</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav_list">
                        <li>
                            <a href="http://127.0.0.1:8000/eventanalysis/">
                                <span class="links_name">攝影機設置</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav_list">
                        <li>
                            <a href="http://127.0.0.1:8000/levelset/">
                                <span class="links_name">等級設定</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav_list">
                        <li>
                            <a href="http://127.0.0.1:8000/userset/">
                                <span class="links_name">系統管理</span>
                            </a>
                        </li>
                    </ul>
                </aside>
                {% block content %}{% endblock %}
            </div>

        </div>

        <script src="{% static "js/base.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
        <script src="{% static "js/jquery-3.6.0.js" %}"></script>
        {% block js %}{% endblock %}
    </body>

</html>